
<p>{{title}}</p><!--we can use the properties of the object passed to app.get funcition-->
<nav>
    <ul id="list">
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/help.html'>Help</a></li>
    </ul>
</nav>