<h3>This website is under development and many of its features are not available now
    <br> Please Wait for some time to get the best user experience
    <br>You can still search for weather of any location in the world.At this time it will show the temperature and forecast of the first relevent match found.So be specific in search to get desired result
</h3>