<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather-About</title>
    <link rel='icon' href='/images/weather.png'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    {{>header}}<!--This is to include the partial file .only enter the name of the file with the greater than symbol-->
    <h1 style="width:max-content;margin:40px auto;">About Page</h1>
    <div class="profile">
        <img src="/images/user_icon.png" width="300px" height="300px">
        <h1>Dev Manish Patel</h1>
        <p>Full Stack Web Developer</p>
    </div>
</body>
</html>